<h1>Compliments for the students of Gen Assmb.ly SEI</h1>
<h3> Or anyone having a case of the Mondays! </h3>
<br>
<h2>{{ who }} are you feeling down? Just remember ...</h2>
<br>
<h2>{{ compliment }}</h2>
<hr>
<h3>Just for you</h3>
<div class="tooMuch">
<h2><div class="name">{{who}}</div> <div clas="namecomp">{{ nameComp}}</div></h2></div>
<hr>
<a href="/"> Back to Main</a>
<style>

body{
    background-color: {{ backgroundColor }};
}
.name{
    color: {{namecolor}}
}

</style>